/*color pallet*/
:root{
    --white1: #e3e3e3;
    --white2: #a3a3a3;
    --black1: #464646;
    --black2: #333333;
    --black3: #2a2a2a;
    --black4: #222222;
    --black5: #1b1b1b;
    --black6: #181818;
    --black7: #0c0c0c;
    --blue1: #0045e5;
    --blue2: #2149a7;
}
/*general style*/
*,*::before,*::after{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
h1{
    color: var(--white1);
    font-size: 40px;
}
h1::after{
    content: '';
    display: block;
    background: var(--blue1);
    width: 140px;
    height: 4px;
    margin: 3px 0 15px;
}
h4{
    color: var(--blue1);
}
h5{
    color: var(--blue2);
    letter-spacing: 2px;
    margin-bottom: 12px;
}
/*Default Custom Scroll Bar*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: var(--black2);
}
::-webkit-scrollbar-thumb{
    background-color: var(--blue2);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--blue1);
}
/*---===Navigation Bar===---*/
nav{
    --black7: #0c0c0c80;
    font-family: 'roboto', 'Open Sans', sans-serif;
    background-color: var(--black7);
    backdrop-filter: blur(2px);
    color: var(--white1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 75px;
    box-shadow: 0 0 5px var(--black7);
    z-index: 10;
}
nav a.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 150px;
}
nav a.logo img{
    height: 40px;
}
nav a.logo p{
    margin-left: 15px;
    font-size: 18px;
}
nav > ul{
    display: flex;
    list-style: none;
    margin-right: 200px;
    gap: 25px;
}
nav a{
    color: var(--white1);
    cursor: pointer;
}
nav ul a:hover{
    border-bottom: 3px solid var(--blue2);
}
nav input#Burger,
nav label.BClose,
nav label.BOpen,
nav input#Arrow{
    display: none;
}
/*Sub Class*/
nav ul.DDown{
    background: var(--black6);
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    overflow: auto;
    width: fit-content;
    max-height: 248.2px;
    gap: 0;
    box-shadow: 0 0 10px var(--black7);
}
nav ul.DDown li{
    padding: 15px 50px;
    border-bottom: 1px solid var(--black2);
}
nav ul.DDown li:last-child{
    border-bottom: none;
}
nav li.Class:hover ul.DDown{
    display: flex;
}
nav ul.DDown::-webkit-scrollbar-track{
    background-color: var(--black6);
}
/*---===Footer===---*/
section.Footer{
    font-family: 'Roboto', system-ui, 'Segoe UI', 'Open Sans', sans-serif;
    background-color: var(--black3);
    color: var(--white1);
    padding: 40px 20px 0;
}
section.Footer div.Cont{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto 30px;
}
section.Footer img{
    width: 160px;
    height: fit-content;
}
section.Footer h4{
    color: var(--white1);
    margin-bottom: 10px;
}
section.Footer div.txt{
    display: flex;
    flex-direction: column;
}
section.Footer div.txt div.SiteLink div{
    margin-bottom: 7px;
}
section.Footer div.txt div.SiteLink a{
    color:var(--white2);
}
section.Footer div.txt div.SiteLink a:hover{
    text-decoration: underline;
}
section.Footer div.Contact p{
    color:var(--white2);
    margin-bottom: 7px;
}
section.Footer div.Contact span{
    margin-left: 4px;
}
section.Footer div.socmed{
    display: flex;
    flex-direction: column;
}
section.Footer div.socmed div{
    display: flex;
    gap: 10px;
}
section.Footer div.socmed a{
    color: var(--white2);
    display: flex;
    font-size: 24px;
    transition: 0.3s;
}
section.Footer div.Contact i:hover,
section.Footer div.socmed a:hover{
    color: var(--white1);
}
section.Footer footer{
    display: flex;
    justify-content: center;
    padding: 15px 0;
    border-top: 2px solid var(--black1);
}
/*---===Responsive===---*/
@media(max-width: 1200px){
    /*---===Navigation Bar===---*/
    nav a.logo{
        margin-left: 80px;
    }
    nav > ul{
        margin-right: 100px;
    }
    /*---===Footer===---*/
    section.Footer div.Cont{
        max-width: 1000px;
    }
}
@media(max-width: 950px){
    /* ---===Navigation Bar===--- */
    nav > ul{
        --black7: #0c0c0c80;
        background-color: var(--black7);
        position: absolute;
        top: 0;
        right: -100%;
        flex-direction: column;
        width: 220px;
        height: 100vh;
        margin: 0;
        padding: 0 20px;
        gap: 30px;
        box-shadow: 0 0 20px var(--black7);
        transition: 0.5s;
    }
    nav ul a:hover,
    nav label.Arrow:hover{
        border-bottom: 0;
        color: var(--blue2);
    }
    nav ul label.BClose{
        display: flex;
        font-size: 20px;
        width: fit-content;
        margin: 30px 0 60px 25px;
        cursor: pointer;
    }
    nav label.BOpen{
        display: flex;
        margin-right: 50px;
        font-size: 20px;
        cursor: pointer;
        opacity: 100;
        transition: 0.3s;
    }
    input#Burger:checked ~ ul{
        right: 0;
    }
    input#Burger:checked ~ label.BOpen{
        opacity: 0;
    }
    /*Sub Class*/
    nav li.Class{
        display: flex;
        flex-direction: column;
        gap: 0;
        height: 19.2px;
        max-height: 285.2px;
        transition: 0.5s;
    }
    nav li.Class p{
        display: flex;
        justify-content: space-between;
    }
    nav label.Arrow{
        cursor: pointer;
        transition: 0.3s;
    }
    nav ul.DDown{
        background-color: transparent;
        display: flex;
        align-items: center;
        position: static;
        box-shadow: none;
        list-style: none;
        width: 100%;
        height: fit-content;
        margin-top: 20px;
    }
    nav ul.DDown li{
        padding: 15px 0;
        border: 0;
    }
    input#Arrow:checked ~ ul li.Class{
        height: 100%;
    }
    input#Arrow:checked ~ ul li.Class label.Arrow{
        transform: rotate(180deg);
    }
    nav ul.DDown::-webkit-scrollbar-track{
        background-color: VAR(--BLACK2);
    }
    /*---===Footer===---*/
    section.Footer div.Cont{
        max-width: 800px;
    }
}
@media(max-width: 740px){
    h1{
        font-size: 32px;
    }
    h1::after{
        width: 105px;
    }
    /*---===Footer===---*/
    section.Footer div.Cont{
        max-width: 650px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }
    section.Footer div.socmed div{
        justify-content: center;
    }
}
@media(max-width: 560px){
    /* ---===Navigation Bar===--- */
    nav a.logo{
        margin-left: 50px;
    }
    nav a.logo p{
        display: none;
    }
}
