/*color pallet*/
:root{
    --white1: #e3e3e3;
    --white2: #a3a3a3;
    --black1: #464646;
    --black2: #333333;
    --black3: #2a2a2a; 
    --black4: #222222; 
    --black5: #181818; 
    --black6: #131313; 
    --black7: #0c0c0c; 
    --blue1: #0045e5;
    --blue2: #2149a7;
}
/*Custom Scroll Bar*/
::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track{
    background: var(--black1);
}
::-webkit-scrollbar-thumb{
    background: var(--blue2);
}
::-webkit-scrollbar-thumb:hover{
    background: var(--blue1);
}
/*general style*/
*,*::before,*::after{
    text-decoration: none;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    /* border: 1px dashed red; */
    box-sizing: border-box;
}
#load-Cont{
    background: var(--black6);
    display: none;
    place-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
}
.loading-spinner{
    height: 70px;
    width: 49.25px;
    -webkit-mask-image: url(Pictures/Crest-Logo.png);
    mask-image: url(Pictures/Crest-Logo.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.loading-spinner .bg1{
    background: var(--white1);
    width: 49.25px;
    animation: whitef 1.5s ease-in-out infinite;
}
.loading-spinner .bg2{
    background: var(--blue1);
    width: 49.25px;
    animation: bluef 1.5s ease-in-out infinite;
}
@keyframes whitef{
    0% {height: 100%;}
    90% {height: 0%;}
    100% {height: 0%;}
}
@keyframes bluef{
    0% {height: 0%;}
    90% {height: 100%;}
    100% {height: 100%;}
}
h1{
    font-size: clamp(2rem, 0.125rem + 4vw, 2.5rem);
    color: var(--white1);
    font-family: 'Libre Franklin';
    width: fit-content;
    margin: 0 auto 12px;
}
h1 > span{
    color: var(--blue2);
}
h4{
    color: var(--blue1);
}
h5{
    letter-spacing: 2px;
    color: var(--blue2);
    margin-bottom: 12px;
}
section:not(.Footer){
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background: transparent;
    color: var(--white1);
    padding: 0.6em 1em;
    border: 2px solid var(--blue2);
    border-radius: 7px;
    box-shadow: none;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background: var(--blue2);
    box-shadow: 0 0 10px var(--blue2);
}
/* section:not(.Home):not(.Footer):not(.Summary){
    height: 100vh;
} */
section:not(.Home):not(.Footer) .Cont{
    height: fit-content;
    width: 1100px;
    padding: 75px 0;
}
/*---===Navigation Bar===---*/
nav{
    background: transparent;
    font-family: 'roboto', 'Open Sans', sans-serif;
    /* backdrop-filter: blur(2px); */
    color: var(--white1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 75px;
    width: 100%;
    box-shadow: 0;
    transition: 0.3s;
}
nav.show{
    background: var(--black6);
    box-shadow: 0 0 5px var(--black7);
}
nav .logo{
    margin-left: 150px;
}
nav .logo img{
    height: 45px;
}
nav > ul{
    list-style: none;
    display: flex;
    gap: 25px;
    margin-right: 200px;
}
nav a{
    text-transform: uppercase;
    color: var(--white1);
    cursor: pointer;
}
nav > ul > li:not(.Class){
    position: relative;
}
nav > ul > li > a::after{
    content: '';
    background: var(--blue2);
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0;
    transition: width 0.3s;
}
nav > ul > li > a:hover::after{
    width: 100%;
}
nav #Burger,
nav .BClose,
nav .BOpen,
nav #Arrow{
    display: none;
}
/*Sub Class*/
nav .DDown{
    background: var(--black5);
    display: none;
    flex-direction: column;
    position: absolute;
    top: 48px;
    overflow: auto;
    max-height: 248.2px;
    width: fit-content;
    gap: 0;
    box-shadow: 0 0 10px var(--black7);
}
nav .DDown li{
    padding: 15px 50px;
    border-bottom: 1px solid var(--black1);
}
nav .DDown li:last-child{
    border-bottom: none;
}
nav .Class:hover .DDown{
    display: flex;
}
nav .DDown a:hover{
    color: var(--blue2);
}
nav .DDown::-webkit-scrollbar-track{
    background: var(--black5);
}
/*---===Footer===---*/
.Footer{
    font-family: 'Roboto', system-ui, 'Segoe UI', 'Open Sans', sans-serif;
    background: var(--black3);
    color: var(--white1);
}
.Footer .Cont{
    width: clamp(1100px, 100%, 90vw);
    margin: 0 auto;
}
.Footer .Cont > div{
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}
.Footer img{
    height: fit-content;
    width: 160px;
}
.Footer h1{
    font-size: 1.7em;
}
.Footer h4{
    color: var(--white1);
    margin-bottom: 10px;
}
.Footer .txt{
    display: flex;
    flex-direction: column;
}
.Footer .txt .SiteLink div{
    margin-bottom: 7px;
}
.Footer .txt .SiteLink a{
    color:var(--white2);
}
.Footer .txt .SiteLink a:hover{
    text-decoration: underline;
}
.Footer .socmed{
    display: flex;
    gap: 7px;
}
.Footer .socmed a{
    font-size: 1.6em;
    color: var(--white2);
    display: flex;
    transition: 0.3s;
}
.Footer .socmed a:hover{
    color: var(--white1);
}
.Footer form{
    width: clamp(300px, -13.6029rem + 58.8235vw, 400px);
    /* width: 400px; */
}
.Footer .Inputs{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}
.Footer .Inputs div{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.Footer #Name,
.Footer #Email{
    flex: 1 0 120px;
}
.Footer input,
.Footer textarea{
    background: var(--black2);
    font-family: 'Roboto', system-ui, 'Segoe UI', 'Open Sans', sans-serif;
    color: var(--white1);
    height: 25px;
    width: 100%;
    padding: 5px;
    outline: none;
    border: 1px solid var(--black1);
    border-radius: 7px;
}
.Footer input:focus{
    border: 1px solid var(--white2);
}
.Footer .Inputs textarea{
    resize: none;
    max-width: 100%;
    min-width: 100%;
    min-height: 80px;
    max-height: 80px;
}
.Footer .Bottom{
    display: flex;
    justify-content: space-between;
}
.Footer footer{
    font-size: clamp(0.875rem, 0.375rem + 2.5vw, 1rem);
    color: var(--white2);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px 0;
    border-top: 2px solid var(--black1);
}
/*---===Responsive===---*/
@media(max-width: 1200px){
    /*general style*/
    section:not(.Home):not(.Footer) .Cont{
        width: 830px;
    }
    /*---===Navigation Bar===---*/
    nav .logo{
        margin-left: 80px;
    }
    nav > ul{
        margin-right: 100px;
    }
    /*---===Footer===---*/
    .Footer .Cont{
        width: 910px;
    }
}
@media(max-width: 950px){
    /*general style*/
    section:not(.Home):not(.Footer){
        height: fit-content;
    }
    section:not(.Home):not(.Footer) .Cont{
        width: 700px;
        padding: 40px 0;
    }
    /* ---===Navigation Bar===--- */
    nav .logo{
        position: absolute;
        right: 60px;
        margin-left: 0;
    }
    nav > ul{
        --black7: #0c0c0c80;
        background: var(--black7);
        backdrop-filter: blur(1px);
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -220px;
        height: 100vh;
        width: 220px;
        gap: 30px;
        margin: 0;
        padding: 0 20px;
        box-shadow: 0 0 20px var(--black7   );
        transition: 0.5s;
    }
    nav ul a:hover,
    nav .Arrow:hover{
        color: var(--blue2);
    }
    nav > ul > li > a:hover::after{
        width: 0;
    }
    nav ul .BClose{
        font-size: 20px;
        display: flex;
        justify-content: flex-end;
        height: 75px;
        width: 100%;
        margin: 0 0 30px 0;
        cursor: pointer;
    }
    nav ul .BClose i{
        line-height: 75px;
    }
    nav .BOpen{
        font-size: 20px;
        display: flex;
        position: absolute;
        left: 50px;
        opacity: 1;
        cursor: pointer;
        transition: 0.3s;
    }
    #Burger:checked ~ ul{
        left: 0;
    }
    #Burger:checked ~ .BOpen{
        opacity: 0;
    }
    /*Sub Class*/
    nav .Class{
        display: flex;
        flex-direction: column;
        gap: 0;
        height: 19.2px;
        transition: 0.5s ease-in-out;
    }
    nav .Class div{
        display: flex;
        justify-content: space-between;
    }
    nav .Arrow i{
        cursor: pointer;
        transition: 0.4s;
    }
    nav .DDown{
        background: transparent;
        list-style: none;
        display: flex;
        align-items: center;
        position: static;
        height: fit-content;
        width: 100%;
        margin-top: 20px;
        box-shadow: none;
    }
    nav .DDown li{
        padding: 15px 0;
        border: 0;
    }
    #Arrow:checked ~ ul .Class{
        height: clamp(19.2px, 50%, 88.4px);
        /* height: clamp(19.2px, 50%, 137.6px); */
        /* height: clamp(19.2px, 50%, 186.8px); */
        /* height: clamp(19.2px, 50%, 236px); */
        /* height: clamp(19.2px, 50%, 285.2px); */
    }
    #Arrow:checked ~ ul .Arrow i{
        transform: rotate(180deg);
    }
    nav .DDown::-webkit-scrollbar-thumb{
        border-radius: 5px;
    }
    nav .DDown::-webkit-scrollbar-track{
        background: transparent;
    }
    /*---===Footer===---*/
    .Footer .Cont{
        width: 700px;
    }
    .Footer .Cont > div{
        justify-content: space-between;
    }
}
@media(max-width: 740px){
    /* Cont */
    section:not(.Home):not(.Footer) .Cont,
    .Footer .Cont{
        width: 540px;
    }
    /*---===Footer===---*/
    .Footer .Cont > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
    }
    .Footer form{
        width: 85%;
    }
}
@media(max-width: 560px){
    /* Cont */
    section:not(.Home):not(.Footer) .Cont{
        width: 100%;
        padding: 30px 17px;
    }
    /*---===Navigation Bar===---*/
    nav .logo{
        right: 50px;
    }
    /*---===Footer===---*/
    .Footer .Cont{
        width: 100%;
    }
    .Footer .Bottom{
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap: 10px;
    }
}
