/*Achievement & Activities gShow*/
.gShow{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.gShow > div{
    position: relative;
    width: 356.66px;
    height: 300px;
    transition: 0.5s;
}
.gShow label{
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.gShow img{
    background-color: var(--black5);
    object-fit: cover;
    filter: opacity(100%);
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition: 0.5s;
}
.gShow .hover{
    background-color: var(--blue2);
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 25px;
    left: 0;
    width: 0;
    height: 50px;
    line-height: 50px;
    border-radius: 0 10px 10px 0;
    transition: 0.4s;
}
.gShow .txt{
    background-color: var(--black3);
    overflow: hidden;
    width: 0;
    padding: 0;
    border-radius: 0 7px 7px 0;
    transition: 0.5s;
}
.gShow .txt div{
    width: 392.5px;
    margin: 15px;
}
.box1:checked ~ .gShow .pic1,
.box2:checked ~ .gShow .pic2,
.box3:checked ~ .gShow .pic3{
    width: calc(60% - 10px);
}
.box1:checked ~ .gShow .pic2,
.box1:checked ~ .gShow .pic3,
.box2:checked ~ .gShow .pic1,
.box2:checked ~ .gShow .pic3,
.box3:checked ~ .gShow .pic1,
.box3:checked ~ .gShow .pic2{
    width: calc(20% - 10px);
}
.box1:checked ~ .gShow .pic1 img,
.box2:checked ~ .gShow .pic2 img,
.box3:checked ~ .gShow .pic3 img{
    width: 35%;
    border-radius: 7px 0 0 7px;
}
.box1:checked ~ .gShow div:not(.pic1) img,
.box2:checked ~ .gShow div:not(.pic2) img,
.box3:checked ~ .gShow div:not(.pic3) img{
    filter: opacity(50%);
}
.box1:checked ~ .gShow label:hover .hover,
.box2:checked ~ .gShow label:hover .hover,
.box3:checked ~ .gShow label:hover .hover{
    width: 0;
    padding: 0;
}
.box1:checked ~ .gShow .pic1 .txt,
.box2:checked ~ .gShow .pic2 .txt,
.box3:checked ~ .gShow .pic3 .txt{
    width: 65%;
}
.box1:checked ~ .gShow .pic1 .txt div,
.box2:checked ~ .gShow .pic2 .txt div,
.box3:checked ~ .gShow .pic3 .txt div{
    opacity: 1;
}
/* Cont */
section:not(.Home) .Cont{
    width: 1100px;
    margin: 0 auto;
    padding: 60px 0;
}
/*---===Banner===---*/
.Home{
    background-image: url(Pictures/black-linen.png);
    background-color: var(--black6);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: -80px;
}
.Home .Cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    margin: 0 40px;
}
.Home .txt{
    font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Open Sans', sans-serif;
    color: var(--white1);
}
.Home .txt .p1{
    font-size: clamp(0.875rem, 0.6406rem + 0.625vw, 1rem);
}
.Home .txt .p2{
    font-size: clamp(2rem, 0.3438rem + 3.75vw, 2.5rem);
}
.Home .txt .p3{
    font-size: clamp(1rem, 0.7656rem + 0.625vw, 1.125rem);
}
.Home .txt .p2 span,
.Home .txt .p3 b{
    color: var(--blue2);
}
.Home .socmed{
    display: flex;
    margin-top: 10px;
}
.Home .socmed a{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--black2);
    color: var(--white1);
    font-size: 20px;
    width: 34px;
    height: 34px;
    margin: 0 7px;
    border-radius: 17px;
    transition: 0.3s;
}
.Home .socmed a:hover{
    color: var(--blue1);
    text-shadow: 0 0 3px var(--blue2);
    box-shadow: 0 0 15px var(--blue2);
}
.Home img{
    object-fit: cover;
    width: 320px;
    height: 380px;
    border-radius: 7px;
    box-shadow: 0 0 10px var(--black1);
}
/*---===About Me====---*/
.AboutMe{
    background-color: var(--black5);
    font-family: system-ui, 'Segoe UI', 'Roboto', 'Open Sans', sans-serif;
    color: var(--white1);
}
.AboutMe .Cont{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
/*Introduction*/
.Intro .Intro-Cont{
    text-align: justify;
    display: flex;
    gap: 20px;
}
.Intro img{
    object-fit: cover;
    object-position: 45% 50%;
    filter: grayscale(30%);
    width: 300px;
    height: 420px;
    border-radius: 7px;
}
.Intro div h3{
    margin: 10px 0 5px;
    color: var(--blue1);
}
.Intro div h3:first-child{
    margin-top: 0;
}
/*Profile*/
.Profile{
    display: flex;
    margin-left: 20px;
}
.Profile ul{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
/*Skills*/
.Skills .Skills-Cont{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 10px;
    column-gap: 15px;
}
.Skills .txt{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.Skills .barWrap{
    background: var(--black3);
    width: 100%;
    height: 10px;
    border-radius: 5px;
}
.Skills .prog{
    background: var(--blue1);
    width: 0%;
    height: 10px;
    border-radius: 5px;
    transition: width 1s;
}
.Skills .a1 .lvl:after{
    content: 'Novice';
}
.Skills .a2 .lvl:after{
    content: 'Fundamentals';
}
.Skills .a3 .lvl:after{
    content: 'Intermediate';
}
.Skills .a4 .lvl:after{
    content: 'Advance';
}
.Skills .a5 .lvl:after{
    content: 'Professional';
}
/*Interest*/
.Interest .Interest-Cont{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 15px;
    width: 100%;
}
.Interest .Interest-Cont div{
    background: var(--black3);
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 15px;
    gap: 10px;
    border-radius: 7px;
    transition: 0.3s;
}
.Interest .Interest-Cont div:hover{
    background: var(--black2);
}
.Interest i{
    color: var(--blue1);
    font-size: 22px;
}
/*Achievements*/
.Achieve input{
    display: none;
}
.Achieve .pic1 img{
    object-position: 35% center;
}
.Achieve .pic2 img{
    object-position: 30% center;
}
.Achieve .gShow div label:hover .hover{
    width: 169px;
    padding: 0 12px;
}
.Achieve .gShow .hover div{
    width: 145px;
}
/*---===Classes===---*/
.Classes{
    background: var(--black3);
    font-family: system-ui, 'Segoe UI', 'Roboto', 'Open Sans', sans-serif;
    color: var(--white1);
    display: flex;
    flex-direction: column;
}
/*Courses*/
.Classes .Class-Grid{
    background: var(--black1);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,110px));
    /* grid-template-columns: repeat(auto-fit,minmax(100px,1fr)); */
    overflow: auto;
    width: 970px;
    min-height: fit-content;
    max-height: 153px;
    margin: 0 auto;
    padding: 10px;
    gap: 10px;
    border-radius: 7px;
}
.Classes .Class-Grid a{
    color: var(--white1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 30px 0;
    border-radius: 7px;
    border: 1px solid var(--white1);
    transition: 0.3s;
}
.Classes .Class-Grid a:hover{
    background: var(--white1);
    color: var(--black1);
}
.Classes .Class-Grid::-webkit-scrollbar{
    width: 20px;
}
.Classes .Class-Grid::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 7px;
}
.Classes .Class-Grid::-webkit-scrollbar-thumb{
    background: var(--blue2);
    border: 5px solid var(--black1);
    border-radius: 10px;
}
/*Highlights*/
.Classes .Highlights{
    display: flex;
    overflow: auto;
    gap: 15px;
    height: 275px;
    scroll-snap-type: x mandatory;
}
.Classes .Highlights > div{
    position: relative;
    width: fit-content;
    height: 100%;
    scroll-snap-align: start;
}
.Classes .Highlights img{
    width: calc((1100px - 30px) / 3);
    height: 250px;
}
.Classes .Highlights .hover{
    --black3: #2a2a2a80;
    background: var(--black3);
    color: var(--white1);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.Classes .Highlights .hover:hover{
    opacity: 1;
}
.Classes .Highlights::-webkit-scrollbar-track{
    background: transparent;
}
.Classes .Highlights::-webkit-scrollbar-thumb{
    border-top: 3px solid var(--black3);
    border-bottom: 3px solid var(--black3);
}
/*---===Resume===---*/
.Resume{
    background: var(--black4);
    font-family: system-ui, 'Segoe UI', 'Roboto', 'Open Sans', sans-serif;
    color: var(--white1);
    display: flex;
    flex-direction: column;
}
.Resume .col{
    display: flex;
}
.Resume .col > div{
    width: 100%;
}
.Resume ul{
    margin: 5px 0 10px 20px;
}
.Resume .bar{
    border-left: 2px solid var(--blue1);
    padding-left: 10px;
}
.Resume .btn a{
    background: transparent;
    color: var(--white1);
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-bottom: 12px;
    padding: 0.8em 1.4em;
    gap: 7px;
    border-radius: 7px;
    border: 2px solid var(--blue2);
    transition: 0.3s;
}
.Resume .btn a:hover{
    background: var(--blue2);
}
/*---===Activities===---*/
.Activities{
    background: var(--black5);
    font-family: system-ui, 'Segoe UI', 'Roboto', 'Open Sans', sans-serif;
    color: var(--white1);
}
/*Seminar & Conference*/

/*Extra-Curricular Activities*/
.Activities input{
    display: none;
}
.Activities .gShow div label:hover .hover{
    width: 100px;
    padding: 0 12px;
}
.Activities .gShow .hover div{
    width: 76px;
}
.Activities .pic1 img{
    object-position: 30% center;
}
/*---===Responsive===---*/
@media(max-width: 1200px){
    /*Achievement & Activities gShow*/
    .gShow > div{
        width: 266.66px;
    }
    .gShow .txt div{
        width: 287.2px;
    }
    /* Cont */
    section:not(.Home) .Cont{
        width: 830px;
    }
    /*---===About Me====---*/
    /*Introduction*/
    .Intro .Intro-Cont .Profile{
        flex-direction: column;
    }
    /*---===Classes===---*/
    /*Courses*/
    .Classes .Class-Grid{
        width: 730px;
    }
    /*Highlights*/
    .Classes .Highlights img{
        width: calc((830px - 15px) / 2);
    }
}
@media(max-width: 950px){
    /*Achievement & Activities gShow*/
    .gShow .txt div{
        width: 283.63px;
    }
    .gShow > div,
    .box1:checked ~ .gShow .pic3,
    .box2:checked ~ .gShow .pic3,
    .box3:checked ~ .gShow .pic1,
    .box3:checked ~ .gShow .pic2{
        width: 342.5px;
    }
    .box1:checked ~ .gShow .pic1,
    .box2:checked ~ .gShow .pic2,
    .box3:checked ~ .gShow .pic3{
        width: calc(70% - 7.5px);
    }
    .box1:checked ~ .gShow .pic2,
    .box2:checked ~ .gShow .pic1{
        width: calc(30% - 7.5px);
    }
    /* Cont */
    .Home .Cont{
        width: 100%;
    }
    section:not(.Home) .Cont{
        width: 700px;
        padding: 40px 0;
    }
    /*---===Banner===---*/
    .Home img{
        width: 270px;
        height: 340px;
    }
    /*---===About Me====---*/
    /*Introduction*/
    .Intro .Intro-Cont{
        flex-direction: column;
    }
    .Intro .Intro-Cont img{
        margin: 0 auto;
        width: 320px;
    }
    /*---===Classes===---*/
    /*Courses*/
    .Classes .Class-Grid{
        width: 610px;
    }
    /*Highlights*/
    .Classes .Highlights img{
        width: calc((700px - 15px) / 2);
    }
    /*---===Resume===---*/
    .Resume .col{
        flex-direction: column;
    }
}
@media(max-width: 740px){
    /*Achievement & Activities gShow*/
    .gShow .txt div{
        width: 245.93px;
    }
    .gShow > div,
    .box1:checked ~ .gShow .pic3,
    .box2:checked ~ .gShow .pic3,
    .box3:checked ~ .gShow .pic1,
    .box3:checked ~ .gShow .pic2{
        width: 262.5px;
    }
    .box1:checked ~ .gShow .pic1,
    .box2:checked ~ .gShow .pic2,
    .box3:checked ~ .gShow .pic3{
        width: calc(85% - 7.5px);
    }
    .box1:checked ~ .gShow .pic2,
    .box2:checked ~ .gShow .pic1{
        width: calc(15% - 7.5px);
    }
    /* Cont */
    section:not(.Home) .Cont{
        width: 540px;
    }
    /*---===Banner===---*/
    .Home{
        height: 100vh;
        padding-top: 30px;
    }
    .Home .Cont{
        flex-direction: column;
        gap: 30px
    }
    .Home .txt{
        text-align: center;
    }
    .Home .socmed{
        justify-content: center;
    }
    /*---===About Me====---*/
    /*Skills*/
    .Skills .Skills-Cont{
        grid-template-columns: 1fr;
    }
    /*---===Classes===---*/
    /*Courses*/
    .Classes .Class-Grid{
        width: 490px;
    }
    /*Highlights*/
    .Classes .Highlights img{
        width: calc((540px - 15px) / 2);
    }
}
@media(max-width: 560px){
    /*Achievement & Activities gShow*/
    .gShow .txt div{
        text-align: justify;
        width: 100%;
        margin: 0;
    }
    .gShow > div,
    .box1:checked ~ .gShow .pic1,
    .box1:checked ~ .gShow .pic2,
    .box1:checked ~ .gShow .pic3,
    .box2:checked ~ .gShow .pic2,
    .box2:checked ~ .gShow .pic1,
    .box2:checked ~ .gShow .pic3,
    .box3:checked ~ .gShow .pic1,
    .box3:checked ~ .gShow .pic2,
    .box3:checked ~ .gShow .pic3{
        width: 100%;
    }
    .box1:checked ~ .gShow .pic1 img,
    .box2:checked ~ .gShow .pic2 img,
    .box3:checked ~ .gShow .pic3 img{
        width: 100%;
        border-radius: 7px;
    }
    .gShow .txt{
        background-color: transparent;
        background-image: linear-gradient(#00000033,#00000080,#000000cc);
        position: absolute;
        display: flex;
        align-items: end;
        width: 100%;
        height: 100%;
        padding: 15px;
        opacity: 0;
        border-radius: 7px;
        transition: 0.5s;
    }
    .box1:checked ~ .gShow .pic1 .txt,
    .box2:checked ~ .gShow .pic2 .txt,
    .box3:checked ~ .gShow .pic3 .txt{
        width: 100%;
        opacity: 1;
    }
    /* Cont */
    section:not(.Home) .Cont{
        width: 100%;
        padding: 20px 17px 30px;
    }
    /*---===Banner===---*/
    .Home{
        padding-top: 0;
    }
    .Home .Cont{
        margin: 0;
        padding: 0 17px;
    }
    .Home img{
        width: 100%;
        max-width: 270px;
    }
    /*---===About Me====---*/
    /*Introduction*/
    .Intro .Intro-Cont img{ 
        width: 100%;
        min-width: 0;
        max-width: 320px;
    }
    /*Profile*/
    .Profile ul{
        margin-right: 0;
    }
    /*---===Classes===---*/
    /*Courses*/
    .Classes .Class-Grid{
        /* grid-template-columns: repeat(auto-fit,minmax(100px,1fr)); */
        width: 100%;
    }
    /*Highlights*/
    .Classes .Highlights img{
        width: calc(100vw - 34px);
    }
}
