*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-image: url("Pictures/asfalt-dark.png");
    background-color: #2a2a2a;
}
/*Default Custom Scroll Bar*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #333333;
}
::-webkit-scrollbar-thumb{
    background-color: #2149a7;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #0045e5;
}
/*---===Navigation Bar===---*/
nav{
    font-family: 'roboto', 'Open Sans', sans-serif;
    background-color: rgba(12, 12, 12, 0.5);
    backdrop-filter: blur(5px);
    color: #e3e3e3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 5px black;
    z-index: 1;
}
nav .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 180px;
    min-width: 180px;
    margin-left: 150px;
}
nav .logo img{
    height: 45px;
}
nav .logo s{
    cursor: default;
    margin-left: 15px;
    font-size: 20px;
}
nav ul{
    display: flex;
    list-style: none;
    margin-right: 200px;
}
nav ul a{
    color: #e3e3e3;
    font-weight: normal;
}
nav ul li{
    margin: 0 15px;
}
nav ul a:hover{
    border-bottom: 3px solid #2149a7;
}
nav #Burger, nav .BClose, nav .BOpen, nav .fa-angle-up{
    display: none;
}
/*Sub Class*/
nav .Sub-Class{
    display: none;
}
nav .Sub-Class ul{
    display: flex;
    flex-direction: column;
    width: fit-content;
    overflow: auto;
    min-height: fit-content;
    max-height: 320px;
    padding: 10px 0;
    margin: 0;
    box-shadow: 0 0 10px black;
}
nav .Sub-Class ul li{
    padding: 15px 50px;
    border-bottom: 1px solid #464646;
}
nav .Sub-Class ul li:last-child{
    border-bottom: none;
}
nav .Class:hover .Sub-Class{
    background-color: rgba(12, 12, 12, 0.95);
    display: block;
    position: absolute;
    top: 53px;
}
nav .Sub-Class ul::-webkit-scrollbar-track{
    background-color: #2a2a2a;
}
/*---===Banner===---*/
.Intro{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0c0c;  
    height: 100vh;
    box-shadow: 0 0 20px #0c0c0c;
}
.Intro img{
    object-fit: cover;
    width: 300px;
    height: 400px;
}
.Intro .Cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    height: fit-content;
}
.Intro .txt{
    color: #e3e3e3;
    font-family: "poppins", sans-serif;
}
.Intro .txt .p1{
    font-size: 15px;
}
.Intro .txt .p2{
    font-size: 40px;
}
.Intro .txt .p3{
    font-size: 18px;
}
.Intro .socmed{
    display: flex;
    margin-top: 10px;
}
.Intro .socmed a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: #e3e3e3;
    font-size: 24px;
    width: 40px;
    height: 40px;
    margin: 0 7px;
    border-radius: 20px;
    transition: 0.3s;
}
.Intro .socmed a:hover{
    box-shadow: 0 0 13px #2149a7;
    text-shadow: 0 0 3px #0045e5;
    color: #0045e5;
}
/*---===Home===---*/
.Home{
    font-family: system-ui, 'Segoe UI', 'Roboto', 'Open Sans', sans-serif;
    background-color: rgba(24, 24, 24, 0.7);
    margin: 0 auto;
    width: 1100px;
    padding: 20px 30px 30px;    
    border-radius: 10px;
    box-shadow: 0 0 20px #0c0c0c;
}
.Home h5{
    color: #2149a7;
    letter-spacing: 2px;
    margin-bottom: 12px;
}
/*About Me*/
.AboutMe{
    display: flex;
    flex-direction: column;
    color: #e3e3e3;
}
.AboutMe h1{
    font-size: 40px;
}
.AboutMe .Cont{
    display: flex;
    text-align: justify;
}
.AboutMe .Cont h3{
    margin: 20px 0 5px;
    color: #0045e5;
}
.AboutMe .Cont img{
    object-fit: cover;
    width: 300px;
    height: 420px;
    border-radius: 10px;
}
.AboutMe .Cont div{
    margin: 5px 0 0 30px;
}
/*Profile*/
.AboutMe .Cont .Profile{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 20px;
}
.AboutMe .Cont .Profile ul{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

/*Skills*/
.Skills .Cont p{
    color: #e3e3e3;
    margin-bottom: 5px;
}
.Skills .Cont{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 20px;
}
.Skills .Cont .txtBar{
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}
.Skills .Cont .barWrap{
    background-color: #333333;
    width: 100%;
    height: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.Skills .Cont .p{
    background-color: #0045e5;
    height: 100%;
    border-radius: 5px;
}
/*Interest*/
.Interest h5{
    margin-bottom: -10px;
}
.Interest .Cont{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    width: 100%;
    margin-top: 20px;
}
.Interest .Cont .box{
    background-color: #333333;
    display: flex;
    align-items: center;
    height: 70px;
    border-radius: 10px;
}
.Interest .Cont .box i{
    color: #0045e5;
    font-size: 22px;
    margin: 0 10px 0 20px;
}
.Interest .Cont .box p{
    color: #e3e3e3;
    font-size: 17px;
}
/*Achievements*/
.Achieve{
    color: #e3e3e3;
    text-align: justify;
}
.Achieve h4{
    color: #0045e5;
    margin-bottom: 5px;
}
.Achieve img{
    object-fit: cover;
    width: 400px;
    height: 300px;
    border-radius: 10px;
}
.Achieve .Cont div{
    background-color: #181818;
    border-radius: 10px;
}
.Achieve .Cont .left{
    display: flex;
}
.Achieve .Cont .right{
    display: flex;
    flex-direction: row-reverse;
}
.Achieve .Cont aside{
    margin: 20px 30px 0 30px;
}
/*---===Classes===---*/
.Classes{
    font-family: system-ui, 'Segoe UI', 'Roboto', 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #181818;
    color: #e3e3e3;
    padding: 20px 0 30px;
    box-shadow: 0 0 20px #0c0c0c;
}
.Classes aside{
    width: 1100px;
    margin: 0 auto;
}
.Classes h1{
    font-size: 40px;
}
.Classes h5{
    color: #2149a7;
    letter-spacing: 2px;
    margin-bottom: 12px;
}
/*Courses/Subjects*/
.Classes .Class-Grid{
    background-color: #464646;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    overflow: auto;
    width: fit-content;
    min-height: fit-content;
    max-height: 154px;
    margin: 0 auto;
    padding: 5px;
}
.Classes .Class-Grid a{
    color: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    padding: 30px;
    margin: 5px;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    transition: 0.3s;
}
.Classes .Class-Grid a:hover{
    background-color: #e3e3e3;
    color: #464646;
}
/*Highlights*/
.Classes .Highlights{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 250px;
    gap: 20px;
}
.Classes .Highlights img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.Classes .Highlights div{
    position: relative;
}
.Classes .Highlights a{
    color: #e3e3e3;
    font-size: 20px;
}
.Classes .Highlights .hover{
    background-color: rgb(51, 51, 51,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    border-radius: 10px;
    transition: 0.3s;
}
.Classes .Highlights .hover:hover{
    opacity: 100;
}
/*---===Resume===---*/
.Resume{
    font-family: system-ui, 'Segoe UI', 'Roboto', 'Open Sans', sans-serif;
    background-color: rgba(24, 24, 24, 0.7);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1100px;
    padding: 20px 30px 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px #0c0c0c;
}
.Resume h1{
    color: #e3e3e3;
    font-size: 40px;
}
.Resume h5{
    color: #2149a7;
    letter-spacing: 2px;
    margin-bottom: 12px;
}
.Resume h4{
    color: #0045e5;
}
.Resume ul{
    color: #e3e3e3;
    margin: 5px 0 20px 20px;
}
.Resume .Cont{
    display: flex;
    flex-direction: row;
}
.Resume .Cont aside{
    width: 100%;
}
.Resume .line{
    border-left: 2px solid #0045e5;
    padding-left: 10px;
}
.Resume .btn{
    width: 160px;
    height: 45px;
    margin-bottom: 20px;
}
.Resume .btn a{
    background-color: #2149a7;
    color: #e3e3e3;
    display: flex;
    justify-content: center;
    line-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #2149a7;
    transition: 0.3s;
}
.Resume .btn a:hover{
    background-color: #00000000;
}
/*---===Activities===---*/
.Active{
    font-family: system-ui, 'Segoe UI', 'Roboto', 'Open Sans', sans-serif;
    background-color: #181818;
    padding: 20px 0 30px;
    box-shadow: 0 0 20px #0c0c0c;
}
.Active .Cont{
    width: 1100px;
    margin: 0 auto;
}
.Active h1{
    color: #e3e3e3;
    font-size: 40px;
}
.Active h5{
    color: #2149a7;
    letter-spacing: 2px;
    margin-bottom: 12px;
}
.Active h4{
    color: #0045e5;
    margin-bottom: 5px;
}
/*Seminar & Conference*/

/*Extra-Curricular Activities*/
.Active .Acts div{
    background-color: #2a2a2a;
    border-radius: 10px;
}
.Active .Acts img{
    object-fit: cover;
    width: 400px;
    height: 300px;
    border-radius: 10px;
}
.Active .Acts .left{
    display: flex;
}
.Active .Acts .right{
    display: flex;
    flex-direction: row-reverse;
}
.Active .Acts div aside{
    text-align: justify;
    margin: 20px 30px 0 30px;
}
.Active .Acts div s{
    color: #e3e3e3;
}
/*---===Footer===---*/
.Footer{
    font-family: 'Roboto', system-ui, 'Segoe UI', 'Open Sans', sans-serif;
    background-color: #333333;
    color: #e3e3e3;
    padding: 40px 20px 0;
    box-shadow: 0 0 20px #181818;
}
.Footer .Cont{
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
}
.Footer .Cont img{
    width: 160px;
    height: fit-content;
}
.Footer aside{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.Footer .Cont .txt{
    display: flex;
    flex-direction: column;
}
.Footer .Cont h3{
    margin-bottom: 10px;
}
.Footer .Cont .txt .SiteLink div{
    margin-bottom: 7px;
}
.Footer .Cont .txt .SiteLink a{
    color:#a3a3a3;
}
.Footer .Cont .txt .SiteLink a:hover{
    text-decoration: underline;
}
.Footer .Cont .Contact p{
    color:#a3a3a3;
    margin-bottom: 7px;
}
.Footer .Cont .Contact .socmed{
    display: flex;
    margin-top: 12px;
}
.Footer .Cont .Contact .socmed a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
    color: #e3e3e3;
    font-size: 20px;
    width: 36px;
    height: 36px;
    margin: 0 6px;
    border-radius: 18px;
    transition: 0.3s;
}
.Footer .Cont .Contact .socmed a:hover{
    box-shadow: 0 0 13px #2149a7;
    text-shadow: 0 0 3px #0045e5;
    color: #0045e5;
}
.Footer footer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 15px 0;
    border-top: 2px solid #464646;
}
/*---===Responsive===---*/
@media(max-width: 1200px){
    /*---===Navigation Bar===---*/
    nav .logo{
        margin-left: 100px;
    }
    nav ul{
        margin-right: 100px;
    }
    /*---===Banner===---*/
    .Intro .Cont{
        width: 830px;
    }
    .Intro .txt .p1{
        font-size: 12px;
    }
    .Intro .txt .p2{
        font-size: 30px;
    }
    .Intro .txt .p3{
        font-size: 15px;
    }
    .Intro .socmed a{
        font-size: 20px;
        width: 34px;
        height: 34px;
        border-radius: 17px;
    }
    /*---===Home===---*/
    .Home{
        width: 830px;
    }
    /*Profile*/
    .AboutMe .Cont .Profile{
        flex-direction: column;
    }
    /*Interest*/
    .Interest .Cont .box i{
        margin-right: 5px;
    }
    .Interest .Cont .box p{
        font-size: 16px;
    }
    /*---===Classes===---*/
    .Classes aside{
        width: 830px;
    }
    /*Courses/Subjects*/
    .Classes .Class-Grid{
        grid-template-columns: repeat(4,1fr);
    }
    /*Highlights*/
    .Classes .Highlights{
        grid-template-columns: repeat(2,1fr);
    }
    /*---===Resume===---*/
    .Resume{
        width: 830px;
    }
    /*---===Activities===---*/
    .Active .Cont{
        width: 830px;
    }
}
@media(max-width: 950px){
    /* ---===Navigation Bar===--- */
    nav .logo{
        margin-left: 80px;
    }
    nav ul{
        background-color: rgba(12, 12, 12, 0.7);
        flex-direction: column;
        position: fixed;
        width: 220px;
        height: 100vh;
        margin: 0;
        padding-left: 10px;
        top: 0;
        right: -100%;
        box-shadow: 0 0 20px #181818;
        transition: 0.5s;
    }
    nav ul li{
        margin-bottom: 25px;
    }
    nav ul a:hover{
        border-bottom: 0;
        color: #2149a7;
    }
    nav ul .BClose{
        display: flex;
        font-size: 20px;
        margin: 30px 0 60px 10px;
        cursor: pointer;
    }
    nav ul .Class{
        display: flex;
        justify-content: space-between;
    }
    nav .BOpen{
        display: flex;
        margin-right: 50px;
        font-size: 20px;
        cursor: pointer;
        transition: 0.5s;
    }
    #Burger:checked ~ ul{
        right: 0;
    }
    #Burger:checked ~ .BOpen{
        display: none;
    }
    /*---===Banner===---*/
    .Intro .Cont{
        padding: 0 30px;
    }
    /*---===Home===---*/
    .Home{
        width: 700px;
    }
    /*About Me*/
    .AboutMe .Cont img{
        margin: 0 auto;
    }
    .AboutMe .Cont{
        flex-direction: column;
    }
    .AboutMe .Cont div{
        margin: 15px 0 0 0;
    }
    /*Skills*/
    .Skills .Cont{
        grid-template-columns: 1fr;
    }
    /*Interest*/
    .Interest .Cont{
        grid-template-columns: repeat(2,1fr);
    }
    /*Achievements*/
    .Achieve .Cont .left,.Achieve .Cont .right{
        flex-direction: column;
    }
    .Achieve .Cont img{
        width: 100%;
    }
    .Achieve .Cont aside{
        margin-bottom: 20px;
    }
    /*---===Classes===---*/
    .Classes aside{
        width: 700px;
    }
    /*Courses/Subjects*/
    .Classes .Class-Grid{
        grid-template-columns: repeat(3,1fr);
    }
    /*---===Resume===---*/
    .Resume{
        width: 700px;
    }
    .Resume .Cont{
    flex-direction: column;
    }
    /*---===Activities===---*/
    .Active .Cont{
        width: 700px;
    }
    .Active .Acts img{
        width: 100%;
        height: 300px;
    }
    .Active .Acts .left, .Active .Acts .right{
        flex-direction: column;
    }
    .Active .Acts div aside{
        text-align: justify;
        margin-bottom: 20px;
    }
}
@media(max-width: 740px){
    /*---===Banner===---*/
    .Intro{
        align-items: flex-end;
        height: 680px;
        padding-bottom: 30px;
    }
    .Intro .Cont{
        flex-direction: column;
    }
    .Intro .txt{
        text-align: center;
        margin-bottom: 15px;
    }
    .Intro .socmed{
        justify-content: center;
    }
    /*---===Home===--- */
    .Home{
        width: 540px;
    }
    /*---===Classes===---*/
    .Classes aside{
        width: 540px;
    }
    /*Highlights*/
    .Classes .Highlights{
        grid-template-columns: 1fr;
    }
    /*---===Resume===---*/
    .Resume{
        width: 540px;
    }
    /*---===Activities===---*/
    .Active .Cont{
        width: 540px;
    }
    /*---===Footer===---*/
    .Footer .Cont{
        margin: 0;
    }
    .Footer aside{
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 20px;
    }
    .Footer aside{
        align-items: center;
    }
    .Footer .Cont .txt .SiteLink,.Footer .Cont .Contact{
        text-align: center;
    }
    .Footer .Cont .Contact .socmed{
        justify-content: center;
    }
}
@media(max-width: 560px){
    /* ---===Navigation Bar===--- */
    nav .logo{
        margin-left: 50px;
    }
    nav .logo s{
        display: none;
    }
    /*---===Home===--- */
    .Home{
        width: 100%;
    }
    /*About Me*/
    .AboutMe .Cont img{
        width: 100%;
    }
    /*Interest*/
    .Interest .Cont{
        grid-template-columns: 1fr;
    }
    /*---===Classes===---*/
    .Classes aside{
        width: 100%;
        padding: 0 20px;
    }
    /*---===Resume===---*/
    .Resume{
        width: 100%;
    }
    /*---===Activities===---*/
    .Active .Cont{
        width: 100%;
        padding: 0 20px;
    }
    /*---===Footer===---*/
    .Footer .Cont{
        flex-direction: column;
        align-items: center;
    }
    .Footer .Cont img{
        margin-bottom: 20px;
    }
    .Footer aside{
        margin: 0;
    }
}
